@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<hr />
<h1>Slot Setting: @ViewData["SlotSetting"]</h1>
<h1>Non Slot Setting: @ViewData["NonSlotSetting"]</h1>
